#searchBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0 auto;
    flex-wrap: wrap;
}

#textField {
    flex: 6;
    min-width: 250px;
}

#searchBarButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex: 1;
    min-height: 56px;
}

#sortSelect {
    display: flex;
    gap: 10px;
    flex: 2;
    min-width: 250px;
}

.searchBarButton {
    width: 100%;
}
